@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">REVISIONES TALLER  MECH G10</h1>
   
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Automovil</th>
      <th scope="col">Fecha</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Maxda</td>
      <td>12/09/2020</td>
      <td>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-danger">Danger</button>
       
      </td>
    </tr>
        <tr>
      <th scope="row">1</th>
      <td>Renault 4</td>
      <td>12/09/2020</td>
      <td>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-danger">Danger</button>
      </td>
          <tr>
      <th scope="row">1</th>
      <td>Chevette</td>
      <td>12/09/2020</td>
      <td>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-danger">Danger</button>
      </td>
    </tr>
        <tr>
      <th scope="row">1</th>
      <td>Monza</td>
      <td>12/09/2020</td>
      <td>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-danger">Danger</button>
      </td>
          <tr>
      <th scope="row">1</th>
      <td>Chevrolet</td>
      <td>12/09/2020</td>
      <td>
        <button type="button" class="btn btn-primary">Primary</button>
       <button type="button" class="btn btn-danger">Danger</button>
      </td>
    </tr>
    </tr>
    <tr>
     
  </tbody>
</table>


</div>
